.flicker {
  text-shadow: 0.06rem 0 0.06rem #f0b, -0.125rem 0 0.06rem #0ff;
  animation-duration: 0.7s;
  animation-name: liminal;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes liminal {
  from {
    text-shadow: 1px 0 0 #f0b, -2px 0 0 #0ff;
  }
  to {
    text-shadow: 2px 0.5px 2px #f0b, -1px -0.5px 2px #0ff;
  }
}

@media (prefers-reduced-motion: reduce) {
  .flicker {
    animation: none;
  }
}
